<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        来和鹿鸣Lumi互动吧！！！
    </title>
    <style>
        iframe {
            width: 1440px;
            height: 900px;
            position: absolute;
            top: 30px;
            left: 450px;
            z-index: 2;
            -moz-opacity: 30%;
            opacity: 30%;
            filter: alpha(opacity=1);
        }
        button {
            position: absolute;
            top:200px;
            left: 1680px;
        }
    </style>
</head>
<body>
    <div>
        <img src="clickjacking_t.png" height="60%">
        <br>
        <button>点击进行互动</button>
    </div>
    <!--<iframe src="https://blog.csdn.net/lady_killer9" scrolling="no"></iframe>-->
    <iframe src="http://localhost:63342/django_demo/security_t/templates/security_t/cors_t.html?_ijt=nig0uf3sm49gq838v79kggamco&_ij_reload=RELOAD_ON_SAVE"></iframe>
</body>
</html>